@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Playfair Display', serif;
    @apply bg-zinc-200 dark:bg-zinc-600
  }

  h1 {
    text-shadow: 2px 2px black;
    @apply text-5xl md:text-[112px] lg:text-[138px]
    /* @apply text-[13vw] md:text-[10vw] lg:text-[9vw] */
  }

  h2 {
    text-shadow: 2px 2px black;
    @apply text-xl md:text-5xl
  }

  h3 {
    @apply dark:text-shadow text-2xl md:font-bold lg:font-normal lg:text-4xl 
  }

  h4 {
    @apply text-xl md:text-3xl lg:text-5xl
  }
}