@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Playfair Display', serif;
  }
  h1 {
    text-shadow: 2px 2px black;
    @apply text-5xl md:text-[112px] lg:text-[138px]
    /* @apply text-[13vw] md:text-[10vw] lg:text-[9vw] */
  }
  h2 {
    text-shadow: 2px 2px black;
    @apply text-xl md:text-5xl
  }
}
